
.title
{
 color:#669933;
 font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.logo{
   
    width:50%;
    height:50%;
    margin:auto;
    margin-top: -100px;
    position: relative;
    

}


#disp
{
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    top:20%;
    font-size: 20px;
    text-align: center;
    width: 400px;
    height: 400px;
    background-color: white; 
    box-shadow: 5px 5px 11px -2px #000000;
    border-radius: 10px;
 
 /**valign: "center";**/
}

#setLogin{
    font-size: 20px;
    position: relative;
    top:10px;
}


body{
    min-height: 100vh;
    height: auto;
    background: linear-gradient(35deg ,#CCFFFF,#FFCCCC);
    background-repeat:no-repeat;
}
.btn-login{
    background-color: #99cc66;
    background: linear-gradient(35deg ,#CCFFFF,#FFCCCC);
    border-radius: 10px;
    width: 100px;
    height: 25px;
    padding: 0;
    border: none;
}
